body {
    font-family:'Times New Roman', Times, serif;
    font-size: x-large;
    color: #ffffff;
    background: linear-gradient(rgb(0, 0, 0) 5%, rgb(76, 0, 255) 100%);
    margin: 10%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgb(0, 0, 0) 0%, rgb(0, 26, 255) 100%);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

nav .logo img {
    height: 80px;
}

nav .eslogan {
    margin: 0;
    font-size: 50px; 
    color: rgb(223, 223, 223);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 4px 4px 8px rgb(0, 0, 0); 
}

nav .eslogan:hover {
    font-size: 70px;
}

nav .panel {
    display: flex;
    gap: 15px;
    margin-left: 20px; 
}

nav .panel a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
}

.AÑONUEVO img {
    width: 20%;
    height: auto;
    padding-left: 470px;  
}

.AÑONUEVO img:hover {
    width: 60%;
    height: auto;
    padding-left: 20%;  
}

.reyes img {
    width: 30%;
    height: auto;
    padding-left: 420px;
}

.reyes img:hover {
    width: 70%;
    height: auto;
    padding-left: 220px;
}

.rutina img {
    width: 30%;
    height: auto;
    padding-left: 420px;
}

.rutina img:hover {
    width: 65%;
    height: auto;
    padding-left: 240px;
}
